<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Member count:</strong>
  <%= @organization.member_count %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @organization.owner %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
